############################################
#                MATHEMATICS               #
############################################
#                                          #
#           COUTRET-ROZET Corentin         #
#                                          #
#          Project : 307multigrains        #
#                                          #
############################################

*__pycache__
*vscode*
tmp

# PYTESTS
htmlcov
.coverage
.pytest_cache

# BINARY
307multigrains